<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789883296433-00ei7qacm4rnq2eg2dnqcuma73bbh2qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789883296433-00ei7qacm4rnq2eg2dnqcuma73bbh2qf</string>
	<key>API_KEY</key>
	<string>AIzaSyCDGnlYWtAlTdqJGL4PgmTWorRXIcsinrc</string>
	<key>GCM_SENDER_ID</key>
	<string>789883296433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileApp</string>
	<key>PROJECT_ID</key>
	<string>mobileapp-c6ecf</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp-c6ecf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789883296433:ios:31adaa7739507980eb2090</string>
</dict>
</plist>